<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Non-good CLS score</title>
    <meta name="description" content="Demo of a page that causes CLS on page load" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚨</text></svg>">

    <style is:global>
      html {
        font-size: 100%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      
      body {
        background-color:darkslateblue;
        color: white;
      }

      main {
        position: relative;
        display: grid;
        place-content: center;
        min-height: 100vh;
        width: 100vw;
        max-width: 768px; 
        margin: auto;
      }

      main h2 {
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      h2:nth-child(even) {
        text-align: right;
        font-size: 4rem;
      } 

      main p {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      main a {
        color: inherit;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>greetings</h1>
    </main>
    <footer>
      <script is:inline>
        const main = document.querySelector("main")

        const thingsToAdd = [
          "a little shift here",
          "and a little shift there",
          "here a shift",
          "there a shift",
          "everywhere a shift shift",
        ]

        let i = -1;
        const thing = setInterval(() => {
          i++;
          const h2 = document.createElement("h2");
          h2.innerText = thingsToAdd[i];
          main.appendChild(h2);

          if(i === 4) {
            clearInterval((thing));
            const results = document.createElement("p");
            results.innerText = `On a "navigation" Lighthouse test, this page scores 0.143 for CLS, bringing the overall Lighthouse performance score down to 95.`;
            main.appendChild(results);
            const link = document.createElement("a");
            link.innerHTML = `<a href="">TODO: add link | Read the full article</a>`;
            main.appendChild(link);
          }
        }, 500);
      </script>
    </footer>
  </body>
</html>
