<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to Hack Lighthouse Scores</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚨</text></svg>">
    <style>
      html {
        font-size: 100%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      body {
        background-color:indianred;
        color: white;
      }

      main {
        position: relative;
        display: grid;
        place-content: center;
        min-height: 100vh;
        width: 100vw;
        max-width: 768px;
        margin: auto;
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        margin-top: 0;
      }

      a {
        color: white;
        margin-bottom: 1rem;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>PUT TITLE OF BLOG POST HERE</h1>
      <h2>Salma Alam-Naylor</h2>
      <p>intro text here</p>
      <a href="">LINK TO BLOG POST</a>
      <ol>
        <!-- <li><a href="/si">Hack Speed Index (SI) score</a></li> -->
        <!-- <li><a href="/fcp">Hack First Contentful Paint (FCP) score</a></li> -->
        <li><a href="/lcp">Hack Largest Contentful Paint (LCP) score</a></li>
        <li><a href="/cls-bad">Here's a page with a bad CLS score on page load</a></li>
        <li><a href="/cls-hacked">Hack Cumulative Layout Shift (CLS) score</a></li>
        <li><a href="/unusable">Lighthouse can't detect everything</a></li>
        <!-- <li><a href="/tbt">Hack Total Blocking Time score</a></li> -->
      </ol>
    </main>
  </body>
</html>
